<head>
<title>Hollywood</title>
<meta name="description" content="Malayalam Movies and Tamil Telugu Hindi Webseries  Release Date Reviews Videos  Cast & Crew  Film Poster Full On മലയാളം Free Download">
<link rel="canonical" href="">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

</head>

<style>
  .table-img{
    width: 110px;
    height: 160px;
    object-fit: cover;
  }
  .mv-body{display: flex;flex-direction: column;justify-content: center;align-items: center;}
  .mv-body h1{
    margin: 4px 0;font-family: 'Poppins';font-size: 13Px;opacity: 80%;font-weight: 500;letter-spacing: 0.5px;color: #fff;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 100px;text-align: center;
  }
  .table{
    width:100%;text-align:left;background-color: var(--rich-black);
  }
 table.dataTable tbody tr{
   background-color: var(--rich-black);
 }
 .t-body{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;justify-content: center;
 }
table.dataTable thead th{border-bottom: 1px solid var(--light-text)}
 
 .fst-table-header h1{font-size: 19px;font-family: 'Poppins', sans-serif;font-weight: 500;margin: 0;overflow: hidden;max-height: 26px;text-overflow: ellipsis;white-space: nowrap;text-align: center;}
 .dataTables_info{display: none;}
.dataTables_length{display: flex;justify-content: flex-start;}
.dataTables_length label{color: #fff;font-family: 'Poppins', sans-serif;font-weight: 500;opacity: 80%;font-size: 14px;}
 .dataTables_length select {border: 1px solid #fff;padding: 3px;color: #fff;}
 .dataTables_filter {display: flex;justify-content: flex-end;}
 .dataTables_filter label{color: #fff;font-family: 'Poppins', sans-serif;font-weight: 500;opacity: 80%;font-size: 14px;}
 .dataTables_filter input{color: #fff;}

</style>










    
<div class="main-two">
<!--------------------------Next Theater Releases---------------------->
 <div class="boder-bottom"></div>
<div class="images-sub"> <div class="head-h2"><h2>Next Theater Releases</h2> </div>
      <a href="/upcoming-movies">View all</a>
       </div>
      <div class="swiper">
        <div class="cast-swipe">
          {{#each upTmovies}}
          <a href="/movie/{{this._id}}">
          <div class="movie-s">
            <img src="/public/images/posters/{{this.name}}poster.jpg" alt="">
            <h2>{{this.name}}</h2>
            <p>{{this.releasedate}}</p>
          </div>
          </a>
          {{/each}}
        </div>
      </div>


      <!--------------------------Next Ott Releases---------------------->
 <div class="boder-bottom"></div>
<div class="images-sub"> <div class="head-h2"><h2>Next Ott Releases</h2> </div>
      <a href="/upcoming-ott-movies">View all</a>
       </div>
      <div class="swiper">
        <div class="cast-swipe">
          {{#each upOmovies}}
          <a href="/movie/{{this._id}}">
          <div class="movie-s">
            <img src="/public/images/posters/{{this.name}}poster.jpg" alt="">
            <h2>{{this.name}}</h2>
            <p>{{this.releasedate}}</p>
          </div>
          </a>
          {{/each}}
        </div>
      </div>
            <!-------------------------- Releases Movies---------------------->
 <div class="boder-bottom"></div>
<div class="images-sub"> <div class="head-h2"><h2>Released Movies</h2> </div>
      <a href="/images/{{movie._id}}">View all</a>
       </div>
      <div class="swiper">
        <div class="cast-swipe">
          {{#each rmovies}}
          <a href="/movie/{{this._id}}">
          <div class="movie-s">
            <img src="/public/images/posters/{{this.name}}poster.jpg" alt="">
            <h2>{{this.name}}</h2>
            <p>{{this.releasedate}}</p>
          </div>
          </a>
          {{/each}}
        </div>
      </div>



      <!-------------------------Movies LIst category------------------------------>
<div class="boder-bottom"></div>

<table id="sample-table" class="table" style="">
  <thead>
  <tr>
    <th  class="fst-table-header"><h1>Movies List</h1</th>
    
    {{!-- <th class="nd-table-header"><h1>Movies List</h1></th> --}}
  </tr>
  
  </thead>
  
  <tbody class="t-body">
  {{#each allmovies}}
  <tr>
    <td><a href="/movie/{{this._id}}" class="mv-body" title="{{this.name}} Movie Details Page"><img class="table-img lazy-photo" data-src="/public/images/posters/{{this.name}}poster.jpg" alt="{{this.name}} Movie Poster" >
     <h1>{{this.name}}</h1>
    </div></a> </td>
    {{!-- <td class="td-class">
      <div class="movies-table">
        <div class="t-col"><a href="/movie/{{this._id}}"><h2 title="{{this.name}} Movie Page">{{this.name}}</h2></a></div> 
 
       </div>
    </td> --}}
  </tr>
  {{/each}}
  </tbody>
</table>
</div>

<script>

  $(function(){
    $('#sample-table').DataTable();
  });
</script>