<title>Upcoming Hit Malayalam Movies Name List Where To Watch</title>
<meta name="description" content="New Hit Malayalam Movies 2021-22 Release  in Theater Hotstar Netflix Full Check Now Films Cast & Crew Trailer Release date Story News Images">
<meta name="keywords" content="Upcomming Malayalam Movies, Malayalam Latest Release Movies, Malayalam New Movies, Malayalam Movies, Malayalam Movies Downlaod, Malayalam movies free, Malayalam Movies Hd"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<style>
.table-img{width:130px;margin:5px;max-height:175px;object-fit:cover;border-radius:10px}
.movies-table{display:flex;flex-direction:column;padding-bottom:40px;margin-top:20px}
.t-col{display:flex;margin-bottom:10px}
.t-col a h2{margin:2px 5px;color:blue;font-size:17px;font-family:'Varela Round'}
.t-col i{color:#fc3613;margin-top:5px;font-size:14px}
.t-col h3{margin:0;font-size:13px;font-family:'Varela Round';flex-shrink:0}
.t-col h6{margin:0;font-size:14px;margin-left:4px;color:green;font-weight:600;font-family:'Varela Round';}
.t-col h5{font-size:12px;margin:0;font-family:'Varela Round';flex-shrink:0}
.t-col p{color:#fc3613;margin:0;margin-left:4px;font-size:13px;font-family:'Varela Round';}
.full-table{width:100%}
.tbody th,table.dataTable tbody td{padding:0}
.td-class{border-bottom:1px solid rgba(0,0,0,.14)}
.td-class a{color:green;font-size:14px;font-family:'Varela Round';}
.fst-table-header{width:120px;height:30px;background-color: rgb(76 71 71);;border-right:1px solid #443c3c}
.fst-table-header h1{font-family:'Varela Round';color:#fff;font-size:18px;text-align:right;margin:0}
.nd-table-header h1{font-family:'Varela Round';color:#fff;font-size:18px;text-align:left;margin:0}
.nd-table-header{width:120pxpx;height:30px;background-color: rgb(76 71 71);}
.dataTables_filter{display:flex;justify-content:end;margin-bottom:5px}
.dataTables_length{display:flex;}
.dataTables_filter label{color:#000;font-family:'Varela Round';font-weight:600;font-size: 14px;margin-right: 1px;}
.dataTables_filter input{width: 140px;}
.dataTables_info{display:none}
.paginate_button{color:#000;font-weight:600;font-family:'Varela Round'}
@media(min-width: 767px) {
.table-img{width:160px;max-height:240px}
}
</style>
{{!-- <link rel="alternate" href="https://dramalite.com/malayalam-movies" hreflang="en-us" />
<link rel="alternate" href="https://dramalite.com/malayalam-movies" hreflang="ml-in" />
<link rel="alternate" href="https://dramalite.com/malayalam-movies" hreflang="en-in" />
<link rel="alternate" href="https://dramalite.com/malayalam-movies" hreflang="en-gb" /> --}}
{{!-- <meta name="description" content="Malayalam Movies Comedy Action all and Release Date Reviews Videos  Cast & Crew  Film Poster Full On മലയാളം Free Download"> --}}

<section>
  <!--------------------------------Movies Categories Swipe---------------------->
      <div class="nav-bar-sticky ">
        
        <ul>
          <span>Movies</span>
          <div class="nav-swiper">
          <li><a href="/" title="Home Page">Home</a></li>
          <li><a href="/malayalam-movies" title="Malayalam Movies Page">Malayalam</a></li>
          <li><a href="/tamil-movies" title="Tamil Movies Page">Tamil</a></li>
          <li><a href="/hindi-movies" title="Hindi Movies Page">Hindi</a></li>
          <li><a href="/telugu-movies" title="Telugu Movies Page">Telugu</a></li>
          <li><a href="/hollywood-movies" title="Hollywood Movies Page">Hollywood</a></li>
          <li><a href="/hollywood-movies" title="Web Series Page">WebSeries</a></li>
          <li><a href="/other-movies" title="Other Movies Page">Other</a></li>
        </div>
        </ul>
      </div>

      
<div class="black-header"> <i class="fas fa-bolt"></i><h2>Latest Update</h2></div>
<div class="swiper">
      <div class="latest-movies-section">
       {{#each latestupdatemovies}}
          <a href="/movie/{{this._id}}" class="movies-list-latestupdate"title="{{this.engname}} Movie Details">
            <div class="movies-img-latestupdate">
              <img src="/images/movie-posters/{{this._id}}.jpg" alt="{{this.engname}} Poster" srcset="">
            </div>
          <div class="movies-body-latestupdate">
           <p>{{this.name}}</p>
            <h6>{{this.category}}</h6>
          </div>  
          </a>
        {{/each}}
      </div>
</div>
       <!---------------------------------Malayalam MOVies--------------------------------------------->
<div class="main">
<table id="sample-table" style="width:100%;text-align:left">
  <thead>
  <tr>
    <th  class="fst-table-header" style="width: 103px;"><h1>Malayalam</h1</th>
    <th class="nd-table-header"><h1>Movies List</h1></th>
  </tr>
  </thead>
  <tbody>
  {{#each malayalamMovies}}
  <tr>
    <td class="td-class"><a href="/movie/{{this._id}}" title="{{this.name}} Movie Details Page"><div><img class="table-img lazy-photo" data-src="/images/movie-posters/{{this._id}}.jpg" alt="{{this.name}} Movie Poster" ></div></a> </td>
    <td class="td-class">
      <div class="movies-table">
        <div class="t-col"><i class="fa fa-star" aria-hidden="true"></i> <a href="/movie/{{this._id}}"><h2 title="{{this.name}} Movie Page">{{this.name}}</h2></a></div> 
        <div class="t-col"> <h3>Cast :</h3> <h6> <a href="/actor/{{this.actid1}}" title="{{this.actorname1}} Actor Details Page">{{this.actorname1}},</a><a href="/actor/{{this.actid2}}" title="{{this.actorname2}} Actor Details Page"> {{this.actorname2}}</a> </h6></div>
        <div class="t-col"> <h3>Genre :</h3> <h6>{{this.genre}}</h6></div>
        <div class="t-col"> <h5>Release Date :</h5> {{#if this.releasedate}}<p>{{this.releasedate}}</p>{{else}}<p>Date Not Confirm</p>{{/if}} </div>
        
       </div>
    </td>
  </tr>
  {{/each}}
  </tbody>
</table>
 
</div>
<script>

  $(function(){
    $('#sample-table').DataTable();
  });
</script>









    {{!-- <div class="black-header"><i class="fas fa-video"></i> <h1>Malayalam Movies</h1></div>
      <div class="movies-section">
        {{#each malayalamMovies}}
          <a href="/movie/{{this._id}}" class="movies-list">
            <div class="movies-img">
              <img data-src="/images/movie-posters/{{this._id}}.jpg" alt="{{this.engname}} poster" class="lazy-photo" >
            </div>
          <div class="movies-body">
            <h3>{{this.name}}</h3>
            <p>{{this.year}}</p>
          </div> 
          </a>
        {{/each}}
      </div>
<div class="pages">
      <div class="basic-head">
        <p>Pages</p>
      </div>
      <a href="?page=2&limit=30" title="Page 2">2</a>
      <a href="?page=3&limit=30" title="Page 3">3</a>
</div> --}}

</section>
 

